Forecaster/Service References/Services.Email/emailservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://daisybrand/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://daisybrand/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://daisybrand/webservices/">
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMailWithAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailWithAttachmentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailWithAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailWithAttachment" />
  </wsdl:message>
  <wsdl:message name="SendMailWithAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailWithAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailServiceSoap">
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailWithAttachment">
      <wsdl:input message="tns:SendMailWithAttachmentSoapIn" />
      <wsdl:output message="tns:SendMailWithAttachmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailServiceSoap" type="tns:EmailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://daisybrand/webservices/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailWithAttachment">
      <soap:operation soapAction="http://daisybrand/webservices/SendMailWithAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailServiceSoap12" type="tns:EmailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://daisybrand/webservices/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailWithAttachment">
      <soap12:operation soapAction="http://daisybrand/webservices/SendMailWithAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailService">
    <wsdl:port name="EmailServiceSoap" binding="tns:EmailServiceSoap">
      <soap:address location="http://dbiintranet03/EmailService/emailservice.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailServiceSoap12" binding="tns:EmailServiceSoap12">
      <soap12:address location="http://dbiintranet03/EmailService/emailservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>