Forecaster/Service References/Services.Forecaster/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IForecaster_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AA_Forecaster.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AA_Forecaster.Entities" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AA_Forecaster" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IForecaster_Value_InputMessage">
    <wsdl:part name="parameters" element="tns:Value" />
  </wsdl:message>
  <wsdl:message name="IForecaster_Value_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValueResponse" />
  </wsdl:message>
  <wsdl:message name="IForecaster_GetKrogerPOSData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKrogerPOSData" />
  </wsdl:message>
  <wsdl:message name="IForecaster_GetKrogerPOSData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKrogerPOSDataResponse" />
  </wsdl:message>
  <wsdl:message name="IForecaster_GetDataTest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTest" />
  </wsdl:message>
  <wsdl:message name="IForecaster_GetDataTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTestResponse" />
  </wsdl:message>
  <wsdl:message name="IForecaster_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IForecaster_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IForecaster">
    <wsdl:operation name="Value">
      <wsdl:input wsaw:Action="http://tempuri.org/IForecaster/Value" message="tns:IForecaster_Value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForecaster/ValueResponse" message="tns:IForecaster_Value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKrogerPOSData">
      <wsdl:input wsaw:Action="http://tempuri.org/IForecaster/GetKrogerPOSData" message="tns:IForecaster_GetKrogerPOSData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForecaster/GetKrogerPOSDataResponse" message="tns:IForecaster_GetKrogerPOSData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IForecaster/GetDataTest" message="tns:IForecaster_GetDataTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForecaster/GetDataTestResponse" message="tns:IForecaster_GetDataTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IForecaster/GetDataUsingDataContract" message="tns:IForecaster_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForecaster/GetDataUsingDataContractResponse" message="tns:IForecaster_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IForecaster" type="tns:IForecaster">
    <wsp:PolicyReference URI="#NetTcpBinding_IForecaster_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Value">
      <soap12:operation soapAction="http://tempuri.org/IForecaster/Value" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKrogerPOSData">
      <soap12:operation soapAction="http://tempuri.org/IForecaster/GetKrogerPOSData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTest">
      <soap12:operation soapAction="http://tempuri.org/IForecaster/GetDataTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IForecaster/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IForecaster" binding="tns:NetTcpBinding_IForecaster">
      <soap12:address location="net.tcp://localhost:15111/AA_Forecaster" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:15111/AA_Forecaster</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>