Forecaster/Service References/Services.Promotions/Promotions.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Promotions.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Promotions.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfFORECASTER_PROMOTIONS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FORECASTER_PROMOTIONS" nillable="true" type="tns:FORECASTER_PROMOTIONS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFORECASTER_PROMOTIONS" nillable="true" type="tns:ArrayOfFORECASTER_PROMOTIONS" />
  <xs:complexType name="FORECASTER_PROMOTIONS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DirectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImportDatetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndirectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndirectNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LineItemStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectID" type="ser:guid" />
      <xs:element minOccurs="0" name="PerformanceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformanceTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="PromotionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="SKUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TradeStatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FORECASTER_PROMOTIONS" nillable="true" type="tns:FORECASTER_PROMOTIONS" />
</xs:schema>